/* TEMPLATES */

.imageTemplate {
  width: 70%;
  min-width: 30px;
  box-shadow: 2px;
}

.typeTemplateSpanner {
  color: "white";
  border-radius: 4px;
  font-size: 1.35rem;
  font-family: "Arcade-Classic", sans-serif;
  padding: 5px 10px;
}

.dropdownTemplate {
  padding: 5px;
  border-radius: 5px;
}
