/* TEMPLATES */

.imageTemplate {
  width: 65%;
  min-width: 45px;
  box-shadow: 2px;
  object-fit: contain;
}

.typeTemplateSpanner {
  color: "white";
  border-radius: 4px;
  font-size: 1vw;
  font-family: "Arcade-Classic", sans-serif;
  padding: 5px 10px;
}

.dropdownTemplate {
  padding: 5px;
  border-radius: 5px;
}
