/* Pokemon Table */

.arcade {
  font-family: "Arcade-Classic", sans-serif;
  letter-spacing: 2px;
  font-size: 1.3vw;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-table {
  max-width: 85vw;
  min-width: 85vw;
  width: 85vw;
  font-family: "Arcade-Classic", sans-serif;
}
.w-1 {
  max-width: 12.5vw;
  min-width: 12.5vw;
  width: 12.5vw;
  text-align: center;
}

.w-2 {
  max-width: 7.5vw;
  min-width: 7.5vw;
  width: 7.5vw;
}

.w-3 {
  max-width: 2vw;
  min-width: 2vw;
  width: 2vw;
  text-align: center;
}
